
/* Estilos CSS */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(Images/fondo\ 3.jpg);
    background-position: center;
    background-size: cover;
}

.contenedor {
    position: relative;
    width: 700px;

    border-radius: 20px;
    background-color: rgba(246, 245, 249, 0.026); /* Color de fondo con transparencia */
    padding: 100px;
    box-sizing: border-box;
}

.contenedor h2 {
    font-size: 3.3rem; /* Cambié "font" por "font-size" */
    color: #0b0b0b;
    text-align: center;
    margin-bottom: 20px; /* Espacio inferior agregado para separar los títulos de los campos */
}

.input-contenedor {
    position: relative;
    margin-bottom: 30px; /* Espacio inferior agregado para separar los campos */
}

.input-contenedor input {
    width: 100%;
    height: 50px; /* Reduje la altura del input para que se vea mejor */
    padding: 10px;
    border: none;
    border-bottom: 2px solid #0b0b0b; /* Añadí un borde inferior */
    background-color: transparent;
    color: #0b0b0b;
    font-size: 1rem;
    outline: none;
    transition: border-bottom-color 0.3s; /* Agregué una transición para el cambio de color del borde inferior */
}

.input-contenedor input:focus {
    border-bottom-color: #45a049; /* Cambié el color del borde inferior al enfocar */
}

.input-contenedor label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0b0b0b;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}

.input-contenedor input:focus ~ label,
.input-contenedor input:not(:placeholder-shown) ~ label {
    top: 5px; 
}

.input-contenedor i{
    position: absolute;
    color: #0b0b0b;
    font-size: .9em;
    top: 10px;
}

.button-google {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: #3c41e7;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline:none;
    font-size: 1rem;
    color: white;
    transition: .4s;
}

.button-google:hover {
    opacity: .8;
}

.button {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: #3c41e7;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    color: white;
    transition: .4s;
}

.button:hover {
    opacity: .9;
}

.olvidar{
   margin: -15px 0 20px;
   font-size: .9em;
   color: #0b0b0b;
   display: flex;
   justify-content: center; 
}

.olvidar label input{
    margin: 3px;
}

.olvidar label a{
    color: #0b0b0b;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;
}

.olvidar label a:hover{
    text-decoration: underline;
}
